
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <script src="http://localhost:4000/mfilter.bundle.js"></script>
</head>

<body>
  <h2 id="1">
    Lorem ipsum dolor 0
  </h2>

  <div>
    <button id="s_b_55442652">hello joes</button>
  </div>
  <h2>
    Lorem ipsum dolor 1,
  </h2>
  <h2>
    Lorem, ipsum dolor 2
  </h2>
</body>
<!-- client pastes THIS at the very end -->

<script>
  po('t_r', 'm_s', 's_r', 's_b_55442652', 'o_T');
</script>

</html>